%div{:id => "reminder_editor_page"}

  -#%h1 Maksumuistutuspohjan muokkaus
  = flash[:notice]

  %div{:id => "reminder_template_editor"}
    %div{:class => "error"}
      = @error

    = form_tag reminder_path, :method => "put", :id => "reminder_template_form" do
      = hidden_field_tag "function"


      %div{:id => "textarea"}
        = text_area_tag "template", @template, :class => "lined"

      %div{:id => "reminder_template_button"}
    = button_tag "Tallenna", :id => "save"

    %div
      %a{:href => reminder_loaddefault_path}
        = button_tag "Palauta oletuspohja", :id => "load_default"
      = button_tag "Esikatsele", :id => "preview"

    %div{:id => "preview-view"}
      = flash[:preview]
  :javascript
    $(document).ready(function(){
      $(".lined").linedtextarea({selectedLine:#{@errorline}})
    })

