%div{:id => "reminder_member_page"}
  -#%h1 Maksumuistutuksen varmistus
  = form_tag reminder_path, :id => "reminder_invoice_form" do
    -@members.each do |member|
      = hidden_field_tag "member[]", member.id, :class => "member_#{member.id}"

    = label_tag("subject", "Otsikko")
    %div{:id => "subjectarea"}
      = text_field_tag "subject", "", :id => "subject", :value => "Kantoliinayhdistyksen jäsenmaksumuistutus"

    %h3 Lisätietoa maksumuistutuksen yläosaan
    %div{:id => "textarea"}
      = text_area_tag "top_message", @top_message, :class => "top_message"
    %h3 Lisätietoa maksumuistutuksen alaosaan
    %div{:id => "textarea"}
      = text_area_tag "bottom_message", @bottom_message, :class => "bottom_message"
    = button_tag "Lähetä maksumuistutukset", :id => "send_reminder"

  %div
    = form_tag reminder_confirm_path, :id => "preview_form" do
      = hidden_field_tag "function", "preview"
      = hidden_field_tag "top_message", "",:class => "top_message"
      = hidden_field_tag "bottom_message", "", :class => "bottom_message"
      = hidden_field_tag "ids", @ids
      = button_tag "Esikatsele", :id => "submit"

  - if @preview
    %div{:id => "preview-view"}
      = @preview

  %table{:class => "center", :id => "members", "data-form" => "#reminder_invoice_form"}
    %tr
      %th Jäsennro.
      %th Nimi
      %th Sähköposti
      %th Jäsenryhmä
      %th Laskun summa
      %th Viitenumero
      %th
    - @members.each do |member|
      %tr
        %td= link_to member.membernumber, edit_member_path(member)
        %td
          = member.firstnames
          = member.surname
        %td= member.email
        %td= member.membergroup.name
        %td= member.membergroup.fee
        %td= Member.generate_refnumber(member.membernumber)
        %td= button_tag "Poista", :type => 'button', :class => "delete_row_button", :id => "member_#{member.id}", 'data-id' => "#{member.id}"
