= flash[:notice]
%h1 Kirjaudu sisään
= @error[:error]
= form_tag login_path do
  = label_tag 'login', 'Käyttäjätunnus'
  = text_field_tag "login"
  %br
  =label_tag 'password', "Salasana"
  = password_field_tag "password"
  %br
  = submit_tag "Login"