%div{:id => "search_member_page"}

  %h1 Jäsenen haku
  %div{:id => "search_form"}
    = form_tag  partners_path, :id => 'find_status' do
      %div{:id => "number_field"}
        = text_field_tag "number", "#{@number}"

      %div{:id => "submit_button"}
        = submit_tag "Hae", :class => "submit"
  = flash[:notice]