%div{:id => "search_member_page"}

  %h1 Jäsenen haku
  %div{:id => "search_form"}
    = form_tag _path, :method => :get, :id => 'filter_form' do
      %div{:id => "keyword_field"}
        = text_field_tag "keyword", "#{@keyword}"

      %div{:id => "submit_button"}
        = submit_tag "Hae", :class => "submit"
  = flash[:notice]