%div{:id => "search_member_page"}

  %h1 Syötä jäsennumero
  %div{:id => "search_form"}
    = form_tag  partners_path, :method => "get" do
      %div{:id => "number_field"}
        = text_field_tag "number", "#{@number}"

      %div{:id => "submit_button"}
        = submit_tag "Hae", :class => "submit"
  = link_to "Kirjaudu ulos", partner_logout_path
  %br
  = flash[:notice]