%div{id: "login_page"}

  %h1 Yhteistyökumppanin sisäänkirjautuminen

  %div{id: "login_form"}
    %div{id: "error"}
      = @error[:error]
    = form_tag login_path do
      %div{id: "label"}
        = label_tag 'username', 'Käyttäjätunnus'
      %div{id: "input"}
        = text_field_tag "username"
      %div{id: "label"}
      =label_tag 'password', "Salasana"
      %div{id: "input"}
        = password_field_tag "password"
      %div{id: "submit"}
        = submit_tag "Login"
