%div{:id => "statistics_page"}
  %div{:class => "floatleft column"}

    %h4 Perustiedot

    %div{:class => "information"}
      %div
        %div{:class => "floatleft left"}
          Jäseniä:
        %div{:class => "floatleft data"}
          = @active
      %div
        %div{:class => "floatleft left"}
          Poistettuja:
        %div{:class => "floatleft data"}
          = @deleted
      %div
        %div{:class => "floatleft left"}
          Tulot vuodessa (€):
        %div{:class => "floatleft data"}
          = @total
      %div
        %div{:class => "floatleft left"}
          Tänä vuonna maksaneita:
        %div{:class => "floatleft data"}
          = @paidthisyear

    %h4 Jäsenryhmät

    %div{:class => "information"}
      - @membergroups.each do |membergroup, value|
        %div
          %div{:class => "floatleft left"}
            = membergroup
          %div{:class => "floatleft data"}
            = value

  %div{:class => "floatright"}
    %h4 Kunnat
    %div{:class => "information"}
      - @municipalities.each do |municipality, value|
        %div
          %div{:class => "floatleft left"}
            = municipality
          %div{:class => "floatleft data"}
            = value

  %h4 Aikavälillä rekisteröityneet
  %div
    %form{:method => "get"}
      %div

        %input{:type => "date", :name => "startdate", :id => "startdate", :value => @startdate}
        = "-"
        %input{:type => "date", :name => "enddate", :id => "enddate", :value => @enddate}

        %button{:name => "search", :type => "submit"} Hae


  %div
    - if params[:startdate]
      %table{:class => "center", :id => "random_page"}
        %tr
          %th Jäsennro.
          %th Nimi
          %th Sähköposti
          %th Osoite
          %th Postinumero
        - @membersdate.each do |member|
          %tr
            %td= link_to member.membernumber, edit_member_path(member)
            %td
              = member.firstnames
              = member.surname
            %td= member.email
            %td= member.address
            %td= member.zipcode

