%table{:class => "center", :id => "members"}
  %tr
    %th Jäsennro.
    %th Nimi
    %th Sähköposti
    %th Osoite
    %th Postinumero
    %th
  - @members.each do |member|
    %tr
      %td= link_to member.membernumber, edit_member_path(member)
      %td
        = member.firstnames
        = member.surname
      %td= member.email
      %td= member.address
      %td= member.zipcode

= form_tag mailer_confirm_path, :id => "mailer_form" do
  = hidden_field_tag "ids", :ids => ActiveSupport::JSON.encode(@members.first.id).as_json
  = button_tag "Lähetä sähköpostia", :class => "submit send"