%div{:id => "invoice_member_page"}
  -#%h1 Laskun varmistus
  %span{:class => "error"}
    = flash[:error]
  = form_tag invoice_path, :id => "invoice_form" do
    -@members.each do |member|
      = hidden_field_tag "member[]", member.id, :class => "member_#{member.id}"

    %h3 Otsikko
    %div{:id => "subjectfield"}
      = text_field_tag "subject", "", :id => "subject", :value => "Kantoliinayhdistyksen jäsenmaksulasku"

    %h3 Lisätietoa laskun yläosaan
    %div{:id => "textarea"}
      = text_area_tag "top_message", @top_message, :class => "top_message"
    %h3 Lisätietoa laskun alaosaan
    %div{:id => "textarea"}
      = text_area_tag "bottom_message", @bottom_message, :class => "bottom_message"
    = button_tag "Lähetä laskut", :id => "send_invoice"

  %div
    = form_tag invoice_confirm_path, :id => "preview_form" do
      = hidden_field_tag "function", "preview"
      = hidden_field_tag "top_message", "",:class => "top_message"
      = hidden_field_tag "bottom_message", "", :class => "bottom_message"
      = hidden_field_tag "ids", @ids
      = button_tag "Esikatsele", :id => "submit"

  - if @preview
    %div{:id => "preview-view"}
      = @preview

  %table{:class => "center", :id => "members", "data-form" => "#invoice_form"}
    %tr
      %th Jäsennro.
      %th Nimi
      %th Sähköposti
      %th Jäsenryhmä
      %th Jäsenyys voimassa
      %th Laskun summa
      %th Viitenumero
      %th Viimeisen laskun lähetyspäivä
      %th
    - @members.each do |member|
      %tr
        %td= link_to member.membernumber, edit_member_path(member)
        %td
          = member.firstnames
          = member.surname
        %td= member.email
        %td= member.membergroup.name
        %td
          -if member.membershipyear.to_i >= Time.now.year.to_i && member.paymentstatus == true
            %span{:class => "error"}
              = member.membershipyear
          -else
            = member.membershipyear
        %td= member.membergroup.fee
        %td= Member.generate_refnumber(member.membernumber)
        %td= member.invoicedate.strftime("%d.%m.%Y")
        %td= button_tag "Poista", :type => 'button', :class => "delete_row_button", :id => "member_#{member.id}", 'data-id' => "#{member.id}"


