%div{:id => "invoice_member_page"}
  %h1 Laskun varmistus

  %table{:class => "center", :id => "members"}
    %tr
      %th Jäsennro.
      %th Nimi
      %th Sähköposti
      %th Jäsenryhmä
      %th Laskun summa
      %th Viitenumero
      %th
    - @members.each do |member|
      %tr
        %td= link_to member.membernumber, edit_member_path(member)
        %td
          = member.firstnames
          = member.surname
        %td= member.email
        %td= member.membergroup.name
        %td= member.membergroup.fee
        %td= Member.generate_refnumber(member.membernumber)
        %td= button_tag "Poista", :type => 'button', :class => "delete_button", 'data-id' => "#{member.id}"


  = form_tag invoice_path, :id => "invoice_form" do
    -@members.each do |member|
      = hidden_field_tag "member[]", member.id, :class => "member_#{member.id}"

    %h3 Lisätietoa laskun yläosaan
    %div{:id => "textarea"}
      = text_area_tag "top_message", "", :id => "top_message"
    %h3 Lisätietoa laskun alaosaan
    %div{:id => "textarea"}
      = text_area_tag "bottom_message", "", :id => "bottom_message"
    = button_tag "Lähetä laskut", :id => "send_invoice"

