%h3 Kantoliinayhdistyksen jäsenmaksu -lasku
%p
  = @top_additional_message
%p Laskun eräpäivä:
= @member.invoicedate + 30.days
%p Summa:
= @member.membergroup.fee
%p Viitenumero:
= Member.generate_refnumber(@member.membernumber)

%p SAAJAN TILINUMERO:

%p IBAN FI22 1228 3000 0038 46
%p
  = @bottom_additional_message
%p Ystävällisin terveisin,

%p Kantoliinayhdistys