%h3 Kantoliinayhdistyksen jäsenmaksu -lasku
%p
  = @top_additional_message


 %p
  Saajan tilinumero: FI22 1228 3000 0038 46
  %br
  Maksun saaja: Kantoliinayhdistys ry
  %br
  Laskun eräpäivä:
  = @member.invoicedate + 30.days
  %br
  Viitenumero:
  = Member.generate_refnumber(@member.membernumber)
  %br
  Summa:
  = @member.membergroup.fee


%p
  = @bottom_additional_message


%p
  Ystävällisin terveisin,

  %br
  Kantoliinayhdistys
