%div{:id => "settings_page"}
  %h1 Asetukset
  %div{:id => "invoice_template_editor"}
    %div{:class => "error"}
      = @error
    = form_tag invoice_path, :method => "put" do

      %div{:id => "textarea"}
        = text_area_tag "template", @template, :class => "lined"

      %div{:id => "invoice_template_button"}
        = submit_tag "Tallenna"
  :javascript
    $(document).ready(function(){
      $(".lined").linedtextarea({selectedLine:#{@errorline}})
    })