%div{:id => "settings_page"}

  %h1 Laskupohjan muokkaus
  = flash[:notice]
  %li
    = link_to "Muokkaa Maksumuistutuspohjaa", settings_reminder_path
  %li
    = link_to "Muokkaa Laskupohjaa", settings_path
  %div{:id => "invoice_template_editor"}
    %div{:class => "error"}
      = @error

    = form_tag invoice_path, :method => "put", :id => "invoice_template_form" do
      = hidden_field_tag "action"


      %div{:id => "textarea"}
        = text_area_tag "template", @template, :class => "lined"

      %div{:id => "invoice_template_button"}
        = submit_tag "Tallenna"

    %a{:href => "settings/loaddefault"}
      = button_tag "lataa alkuperäinen laskupohja", :id => "load_default"

    = button_tag "Esikatsele", :id => "preview"

    %h3 Esikatselunäkymä
    %div{:id => "textlook"}

      = hidden_field_tag :temp, params[:temp]

  :javascript
    $(document).ready(function(){
      $(".lined").linedtextarea({selectedLine:#{@errorline}})
    })
