= simple_form_for @membergroup, defaults:{label:false} do |f|
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "name", "Nimi"
    %div{:class => "left right_field"}
      = f.input :name
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "fee", "Jäsenmaksu (€)"
    %div{:class => "left right_field"}
      = f.input :fee, as: :string
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "onetimefee", "Kertamaksu"
    %div{:class => "left right_field"}
      = f.input :onetimefee
  %div{:class => "clear"}
  %div{:class => "left"}
    = f.submit @submit_text, id:"update"
    %div{:class => "clear"}
- if @editpage
  = button_to('Poista jäsenryhmä', membergroup_path(@membergroup), :method => "delete", :confirm => 'Haluatko varmasti poistaa jäsenryhmän pysyvästi?')
  -#= link_to "Poista", membergroup_path(@membergroup), :method => :delete