%div
  -#%h1 Jäsenryhmät
  = flash[:notice]
  %table{:class => "center", :id => "members"}
    %tr
      %th ID
      %th Jäsenryhmä
      %th Jäsenmaksu (€)
      %th Maksutyyppi
      %th Jäseniä
    - @membergroups.each do |membergroup|
      %tr
        %td= membergroup.id
        %td= link_to membergroup.name, edit_membergroup_path(membergroup)
        %td= membergroup.fee
        - if(!membergroup.onetimefee)
          %td
            Vuosittainen
        - else
          %td
            Kerta
        %td= membergroup.members.count

  = link_to "Lisää jäsenryhmä", new_membergroup_path
