%div{:id => "mailer_member_page"}
  -#%h1 Sähköpostin varmistus

  %h3 Lähtevä viesti

  = form_tag mailer_path, :id => "mailer_form", :multipart => true do
    -@members.each do |member|
      = hidden_field_tag "member[]", member.id, :class => "member_#{member.id}"


    = label_tag("sender", "Lähettäjä")
    %div{:id => "senderarea"}
      = text_field_tag "sender", "", :id => "sender", :value => "@kantoliinayhdistys.fi"
    = label_tag("subject", "Otsikko")
    %div{:id => "subjectarea"}
      = text_field_tag "subject", "", :id => "subject"
    = label_tag("additional_message", "Viesti")
    %div{:id => "textarea"}
      = text_area_tag "additional_message", "", :id => "additional_message"
    = label_tag("attachment", "Liitetiedosto")
    %div{:id => "attachment_div"}
      = file_field_tag 'attachment', :id => "attachment_button"


    = button_tag "Lähetä sähköposti", :class => "submit send"


  %table{:class => "center", :id => "members"}
    %tr
      %th Jäsennro.
      %th Nimi
      %th Sähköposti
      %th Jäsenryhmä
      %th
    - @members.each do |member|
      %tr
        %td= link_to member.membernumber, edit_member_path(member)
        %td
          = member.firstnames
          = member.surname
        %td= member.email
        %td= member.membergroup.name
        %td= button_tag "Poista", :type => 'button', :class => "delete_button", 'data-id' => "#{member.id}"
