= simple_form_for @member, defaults:{label:false} do |f|
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "firstnames", "Etunimet"
    %div{:class => "left right_field"}
      = f.input :firstnames
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "surname", "Sukunimi"
    %div{:class => "left right_field"}
      = f.input :surname
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "municipality", "Kunta"
    %div{:class => "left right_field"}
      = f.input :municipality
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "address", "Katuosoite"
    %div{:class => "left right_field"}
      = f.input :address
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "zipcode", "Postinumero"
    %div{:class => "left right_field"}
      = f.input :zipcode
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "postoffice", "Postitoimipaikka"
    %div{:class => "left right_field"}
      = f.input :postoffice
  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "country", "Maa"
    %div{:class => "left right_field"}
      = f.input :country, priority: [ "Finland" ]

  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "email", "Sähköposti"
    %div{:class => "left right_field"}
      = f.input :email
  - if @isnew #Hides field for membernumber on editpage
    %div{:class => "row"}
      %div{:class => "left"}
        = f.label "membernumber", "Jäsennumero"
      %div{:class => "left right_field"}
        = f.input :membernumber, as: :string

  %div{:class => "row"}
    %div{:class => "left"}
      = f.label "membergroup_id", 'Jäsenryhmä'
    %div{:class => "left right_field"}
      = f.collection_select(:membergroup_id, Membergroup.all, :id, :name)

  -#%div{:class => "row"}
  -#  %div{:class => "left"}
  -#    = f.label "membershipyear", "Jäsenyysvuosi"
  -#  %div{:class => "left right_field"}
  -#    = f.input :membershipyear, as: :string

  %div{:class => "row"}
    %div{:class => "left"}
    %div{:class => "left right_field"}
      = f.input :lender, label: "Lainaamo"

  %div{:class => "row"}
    %div{:class => "left"}
    %div{:class => "left right_field"}
      = f.input :support, label: "Tukihenkilö"

  - if @isnew #Hides following fields on editpage
    %div{:class => "row"}
      %div{:class => "left"}
      %div{:class => "left right_field"}
        = check_box_tag :sendinvoice
        = hidden_field_tag "ids"
        = label_tag :sendinvoice, "Lähetä lasku"

    %div{:class => "row"}
      %div{:class => "left"}
      %div{:class => "left right_field"}
        = check_box_tag :nextyear
        = hidden_field_tag "ids"
        = label_tag :nextyear, "Jäsenyys ensi vuodelle"

    %div{:class => "row"}
      %div{:class => "left"}
      %div{:class => "left right_field"}
        = f.input :paymentstatus, label: "Maksanut"


  -#%div{:class => "row"}
  -#  %div{:class => "left"}
  -#    = f.label "membergroup_id", 'Jäsenryhmä'
  -#  %div{:class => "left right_field"}
  -#    = f.collection_select(:membergroup_id, Membergroup.all, :id, :name)
  %div{:class => "clear"}
  %div{:class => "left"}
    = f.submit @submit_text, id:"update"
  %div{:class => "clear"}