!!!
%html
  %head
    %title Kantoliina
    = stylesheet_link_tag "application", :media => "all"
  %body
    %div{:id => "addressdata"}
      - @members.each do |member|
        %div{:class => "member"}
          %div{:class => "name"}
            = member.firstnames + " " + member.surname
          %div{:class => "address"}
            = member.address
          %div{:class => "postoffice"}
            = member.zipcode + " " + member.postoffice
          %div{:class => "country"}
            = member.country