%div{:id => "new_edit_member_page"}
  %div{:id => "notice"}
    = flash[:notice]
  %h1 Jäsenen tietojen muokkaus

  %div{:id => "edit_form"}
    = simple_form_for @member, defaults:{label:false} do |f|
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label "Etunimet"
        %div{:class => "left right_field"}
          = f.input :firstnames, placeholder: 'Etunimet'
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label "Sukunimi"
        %div{:class => "left right_field"}
          = f.input :surname, placeholder: 'Sukunimi'
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label "Kunta"
        %div{:class => "left right_field"}
          = f.input :municipality, placeholder: 'Kunta'
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label "Katuosoite"
        %div{:class => "left right_field"}
          = f.input :address, placeholder: 'Katuosoite'
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label "Postinumero"
        %div{:class => "left right_field"}
          = f.input :zipcode, placeholder: 'Postinumero'
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label "Postitoimipaikka"
        %div{:class => "left right_field"}
          = f.input :postoffice, placeholder: 'Postitoimipaikka'
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label "Sähköposti"
        %div{:class => "left right_field"}
          = f.input :email, placeholder: 'Sähköposti'
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label "Jäsennumero"
        %div{:class => "left right_field"}
          = f.input :membernumber, placeholder: 'Jäsennumero', as: :string
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label 'Jäsenryhmä'
        %div{:class => "left right_field"}
          = f.collection_select(:membergroup_id, Membergroup.all, :id, :groupname)
      %div{:class => "row"}
        %div{:class => "left"}
          = f.label 'Jäsenyyden päättymispäivä'
        %div{:class => "left right_field", :id => "expirationdate"}
          = f.input :expirationdate
      %div{:class => "clear"}
      %div{:class => "left"}
        = f.submit "Tallenna", id:"update"
      %div{:class => "clear"}
    %div{:class => "left"}
      = button_to 'Poista', member_path(@member), :method => :delete, :id => "delete"
