%div{:id => "index_member_page"}
  %h1 Ylläpitäjän sivu

  =link_to "Kirjaudu ulos", logout_path
  %br
  =link_to "Jäsenien lisäykseen", new_member_path

  %br
  = flash[:notice]
  %table{:id => "table"}
    %tr
      %th
      %th Jäsennumero
      %th Nimi
      %th Sukunimi
      %th Sähköposti
      %th active
    - @members.each do | member|
      %tr
        %td
        %td= link_to member.membernumber, edit_member_path(member)
        %td= member.name
        %td= member.surname
        %td= member.email
        %td= member.membership
        %td= button_to 'Poista', member_path(member), :method => :delete
