%div{:id => "index_member_page"}
  -#%h1 Jäsenten listaus

  %div{:id => "centered"}
    %div{:id => "search_form"}
      %div{:id => "keyword_field"}
        = text_field_tag "searchfield", "#{@keyword}"
        = submit_tag "Hae", :class => "submit", :id => "search_button"
      %div{:class => "clear"}
    %div{:id => "members"}
      %div{:id => "amount_of_results"}
        Hakutuloksia:
        %span{:id => "amount"}
      %div{:id => "column_menu_content"}
        %div{:class => "column_menu multiselectmenu" }
          %div{:class => "header", :id => "column_select" }
            Valitse sarakkeet
          %div{:class => "choices"}
            %label
              = check_box_tag "membernumber", "1", true
              Jäsennumero
            %label
              = check_box_tag "name", "1", true
              Nimi
            %label
              = check_box_tag "municipality", "1", true
              Kunta
            %label
              = check_box_tag "address", "1", false
              Osoite
            %label
              = check_box_tag "zipcode", "1", false
              Postinumero
            %label
              = check_box_tag "postoffice", "1", false
              Postitoimipaikka
            %label
              = check_box_tag "membergroup", "1", true
              Jäsenryhmä
            %label
              = check_box_tag "membershipyear", "1", true
              Jäsenyys voimassa
            %label
              =check_box_tag "invoicedate", "1", true
              Laskun lähetyspäivä
            %label
              = check_box_tag "paymentstatus", "1", true
              Maksustatus
            %label
              = check_box_tag "deleted", "1", false
              Poistettu
            %label
              = check_box_tag "support", "1", false
              Tukihenkilö
            %label
              = check_box_tag "lender", "1", false
              Lainaamo
      %div{:id => "notice"}
        = flash[:notice]
      %div{:class => "clear"}
      %table{:class => "center", :id => "members_table"}
        %thead
          %tr
            %th= check_box_tag "check_all", 1, false, :id => "check_all", :class => "checkbox"
            %th{:class => "membernumber"} Jäsennumero
            %th{:class => "name"} Nimi
            %th{:class => "municipality"}
              %div{:class => "municipality_menu multiselectmenu"}
                %div{:class => "header"}
                  Kunta
                %div{:class => "choices"}
                  -@municipalitys.each do |member|
                    %label
                      - municipality = member.municipality.gsub(/ä/, "a").gsub(/ö/, "o")
                      = check_box_tag "municipality_#{municipality}", member.municipality, true, :id => "municipality_#{municipality}"
                      = member.municipality
            %th{:class => "address hidden"} Osoite
            %th{:class => "zipcode hidden"} Postinumero
            %th{:class => "postoffice hidden"} Postitoimipaikka
            %th{:class => "membergroup"}
              %div{:class => "membergroup_menu multiselectmenu"}
                %div{:class => "header"}
                  Jäsenryhmä
                %div{:class => "choices"}
                  -@membergroups.each do |membergroup|
                    %label
                      = check_box_tag "membergroup_#{membergroup.id}", membergroup.id, true, :id => "membergroup_#{membergroup.id}"
                      = membergroup.name
            %th{:class => "membershipyear"} Jäsenyys voimassa
            %th{:class => "invoicedate"} Laskun lähetyspäivä
            %th{:class => "paymentstatus"}
              %div{:class => "paymentstatus_menu multiselectmenu"}
                %div{:class => "header"}
                  Maksustatus
                %div{:class => "choices"}
                  %label
                    = check_box_tag "paymentstatus_yes", "1", true
                    Kyllä
                  %label
                    = check_box_tag "paymentstatus_no", "0", true
                    Ei
            %th{:class => "deleted hidden"}
              %div{:class => "deleted_menu multiselectmenu"}
                %div{:class => "header"}
                  Poistettu
                %div{:class => "choices"}
                  %label
                    = check_box_tag "deleted_yes", "1", false
                    Kyllä
                  %label
                    = check_box_tag "deleted_no", "0", true
                    Ei
            %th{:class => "support hidden"}
              %div{:class => "support_menu multiselectmenu"}
                %div{:class => "header"}
                  Tukihenkilö
                %div{:class => "choices"}
                  %label
                    = check_box_tag "support_yes", "1", true
                    Kyllä
                  %label
                    = check_box_tag "support_no", "0", true
                    Ei
            %th{:class => "lender hidden"}
              %div{:class => "lender_menu multiselectmenu"}
                %div{:class => "header"}
                  Lainaamo
                %div{:class => "choices"}
                  %label
                    = check_box_tag "lender_yes", "1", true
                    Kyllä
                  %label
                    = check_box_tag "lender_no", "0", true
                    Ei
          %tbody
    %div{:id => "bottom_forms"}
      = form_tag invoice_confirm_path, :id => "invoice_form" do
        = hidden_field_tag "ids"
        = button_tag "Luo laskut", :class => "submit send"

      = form_tag delete_path, :id => "delete_active_form" do
        = hidden_field_tag "ids"
        = button_tag "Poista/Aktivoi ", :class => "submit send confirm"

      = form_tag payment_path, :id => "payment_form" do
        = hidden_field_tag "ids"
        = button_tag "Merkitse maksaneeksi", :class => "submit send"

      = form_tag unpayment_path, :id => "unpayment_form" do
        = hidden_field_tag "ids"
        = button_tag "Merkitse maksamattomaksi", :class => "submit send"

      = form_tag mailer_confirm_path, :id => "mailer_form" do
        = hidden_field_tag "ids"
        = button_tag "Lähetä sähköpostia", :class => "submit send"

      = form_tag reminder_confirm_path, :id => "reminder_form" do
        = hidden_field_tag "ids"
        = button_tag "Luo maksumuistutukset", :class => "submit send"


      %div{:class => "clear"}


