%div{:id => "index_member_page"}
  %h1 Ylläpitäjän sivu

  =link_to "Kirjaudu ulos", logout_path
  %br
  =link_to "Jäsenien lisäykseen", new_member_path

  %br
  %hr
  = form_tag members_path, :method => :get, :id => 'filter_form' do
    = text_field_tag "keyword", "#{@keyword}"
    %br
    - @all_search_fields.each do |key, field|
      = field
      = check_box_tag "search_fields[#{key}]", 1, @selected_search_fields.include?(key), :id => "search_fields_#{key}"
    %br
    Poistettu:
    = radio_button_tag "membership", "1", false
    Ei
    = radio_button_tag "membership", "0", false
    Kyllä
    = radio_button_tag "membership", "2", true
    Molemmat
    %br
    Maksanut:
    = radio_button_tag "paymentstatus", "0", false
    Ei
    = radio_button_tag "paymentstatus", "1", false
    Kyllä
    =radio_button_tag "paymentstatus", "2", true
    Molemmat
    %br
    = submit_tag "Hae", :id => "search"
  %hr
  = flash[:notice]
  %table{:id => "table"}
    %tr
      %th
      %th Jäsennumero
      %th Nimi
      %th Sukunimi
      %th Sähköposti
      %th active
    - @members.each do | member|
      %tr
        %td
        %td= link_to member.membernumber, edit_member_path(member)
        %td= member.name
        %td= member.surname
        %td= member.email
        %td= member.membership
        %td= button_to 'Poista', member_path(member), :method => :delete