%div{:id => "index_member_page"}
  -#%h1 Jäsenten listaus

  %div{:id => "centered"}
    %div{:id => "search_form"}
      %div{:class => "clear"}
    %div{:id => "members"}
      %div{:id => "right"}
        %div{:id => "forms"}
          = action_form mailer_confirm_path, :form_id => "mailer_form", :button_text => "Lähetä sähköpostia"
          = action_form payment_path, :form_id => "payment_form", :button_text => "Merkitse maksaneeksi"
          = action_form invoice_confirm_path, :form_id => "invoice_form", :button_text => "Luo laskut"
          = action_form members_addressdata_path, :form_id => "address_form", :button_text => "Tulosta osoitetiedot"
          = action_form unpayment_path, :form_id => "unpayment_form", :button_text => "Merkitse maksamattomaksi"
          = action_form reminder_confirm_path, :form_id => "reminder_form", :button_text => "Luo maksumuistutukset"
          %div{:class => "clear"}
      %div{:class => "clear"}
      %div{:id => "amount_of_results"}
        Hakutuloksia:
        %span{:id => "amount"}
      %div{:id => "column_menu_content"}
        %div{:class => "column_menu multiselectmenu" }
          %div{:class => "header", :id => "column_select" }
            Valitse sarakkeet
          %div{:class => "choices"}
            %label
              = check_box_tag "membernumber", "1", true
              Jäsennumero
            %label
              = check_box_tag "name", "1", true
              Nimi
            %label
              = check_box_tag "email", "1", false
              Sähköposti
            %label
              = check_box_tag "municipality", "1", true
              Kunta
            %label
              = check_box_tag "address", "1", false
              Osoite
            %label
              = check_box_tag "zipcode", "1", false
              Postinumero
            %label
              = check_box_tag "postoffice", "1", false
              Postitoimipaikka
            %label
              = check_box_tag "country", "1", false
              Maa
            %label
              = check_box_tag "membergroup", "1", true
              Jäsenryhmä
            %label
              = check_box_tag "membershipyear", "1", true
              Jäsenyys voimassa
            %label
              =check_box_tag "invoicedate", "1", true
              Laskun lähetyspäivä
            %label
              =check_box_tag "reminderdate", "1", false
              Maksumuistutuksen lähetyspäivä
            %label
              = check_box_tag "paymentstatus", "1", true
              Maksustatus
            %label
              = check_box_tag "active", "1", false
              Aktiivisuus
            %label
              = check_box_tag "support", "1", false
              Tukihenkilö
            %label
              = check_box_tag "lender", "1", false
              Lainaamo
      %div{:id => "keyword_field"}
        = text_field_tag "searchfield", "#{@keyword}"
        = submit_tag "Hae", :class => "submit", :id => "search_button"
        = submit_tag "Tyhjennä", :id => "clear_search"
        %a{:href => resetcookies_path}
          = button_tag "Oletusnäkymä", :id => "reset_button"
      %div{:id => "notice"}
        = flash[:notice]
      %span{:class => "error"}
        = flash[:error]
      %div{:class => "clear"}
      %table{:class => "center", :id => "members_table"}
        %thead
          %tr
            %th{:class => "checkboxs"}
              = check_box_tag "check_all", 1, false, :id => "check_all", :class => "checkbox"
            %th{:class => "membernumber"}
              %span{:id => "membernumber", :class => "underline"}
                Jäsennumero
            %th{:class => "name"}
              %span{:id => "name", :class => "underline"}
                Nimi
            %th{:class => "email"}
              %span{:id => "email", :class => "underline"}
                Sähköposti
            %th{:class => "municipality"}
              %span{:id => "municipality", :class => "underline"}
                Kunta
              %div{:class => "municipality_menu multiselectmenu"}
                %div{:class => "header"}
                  %img{:src => "/assets/arrow-down.png"}
                %div{:class => "choices"}
                  %label
                    = check_box_tag "select_all", "1", false, :id => "select_all"
                    Valitse kaikki
                  -@municipalitys.each do |member|
                    %label
                      - municipality = member.municipality.gsub(/ä/, "a").gsub(/ö/, "o")
                      = check_box_tag "municipality_#{municipality}", member.municipality, true, :id => "municipality_#{municipality}"
                      = member.municipality
            %th{:class => "address hidden"}
              %span{:id => "address", :class => "underline"}
                Osoite
            %th{:class => "zipcode hidden"}
              %span{:id => "zipcode", :class => "underline"}
                Postinumero
            %th{:class => "postoffice hidden"}
              %span{:id => "postoffice", :class => "underline"}
                Postitoimipaikka
            %th{:class => "country hidden"}
              %span{:id => "country", :class => "underline"}
                Maa
            %th{:class => "membergroup"}
              %span{:id => "membergroup", :class => "underline"}
                Jäsenryhmä
              %div{:class => "membergroup_menu multiselectmenu"}
                %div{:class => "header"}
                  %img{:src => "/assets/arrow-down.png"}
                %div{:class => "choices"}
                  %label
                    = check_box_tag "select_all", "1", false, :id => "select_all"
                    Valitse kaikki
                  -@membergroups.each do |membergroup|
                    %label
                      = check_box_tag "membergroup_#{membergroup.id}", membergroup.id, true, :id => "membergroup_#{membergroup.id}"
                      = membergroup.name
            %th{:class => "membershipyear"}
              %span{:id => "membershipyear", :class => "underline"}
                Jäsenyys voimassa
            %th{:class => "invoicedate"}
              %span{:id => "invoicedate", :class => "underline"}
                Laskun lähetyspäivä
            %th{:class => "reminderdate"}
              %span{:id => "reminderdate", :class => "underline"}
                Maksumuistutuksen lähetyspäivä
            %th{:class => "paymentstatus"}
              %span{:id => "paymentstatus"}
                Maksustatus
              %div{:class => "paymentstatus_menu multiselectmenu"}
                %div{:class => "header"}
                  %img{:src => "/assets/arrow-down.png"}
                %div{:class => "choices"}
                  %label
                    = check_box_tag "paymentstatus_yes", "1", true
                    Kyllä
                  %label
                    = check_box_tag "paymentstatus_no", "0", true
                    Ei
            %th{:class => "active hidden"}
              %span{:id => "active"}
                Aktiivisuus
              %div{:class => "active_menu multiselectmenu"}
                %div{:class => "header"}
                  %img{:src => "/assets/arrow-down.png"}
                %div{:class => "choices"}
                  %label
                    = check_box_tag "active_yes", "1", false
                    Näytä poistetut jäsenet

            %th{:class => "support hidden"}
              %span{:id => "support"}
                Tukihenkilö
              %div{:class => "support_menu multiselectmenu"}
                %div{:class => "header"}
                  %img{:src => "/assets/arrow-down.png"}
                %div{:class => "choices"}
                  %label
                    = check_box_tag "support_yes", "1", true
                    Kyllä
                  %label
                    = check_box_tag "support_no", "0", true
                    Ei
            %th{:class => "lender hidden"}
              %span{:id => "lender"}
                Lainaamo
              %div{:class => "lender_menu multiselectmenu"}
                %div{:class => "header"}
                  %img{:src => "/assets/arrow-down.png"}
                %div{:class => "choices"}
                  %label
                    = check_box_tag "lender_yes", "1", true
                    Kyllä
                  %label
                    = check_box_tag "lender_no", "0", true
                    Ei

          %tbody
      = action_form random_index_path, :form_id => "random_form", :button_text => "Arvo jäsen"
      = action_form delete_path, :form_id => "delete_active_form", :button_text => "", :confirm => true
      %div{:class => "clear"}
      = link_to "Lataa .csv -tiedostona", "/members.csv"
      = form_tag import_members_path, multipart: true do
        = file_field_tag :file
        = submit_tag "Import"





