%div{:id => "index_member_page"}
  %br
  %div{:id => "search_form"}
    = form_tag members_path, :method => :get, :id => 'filter_form' do
      %div{:id => "keyword_field"}
        = text_field_tag "keyword", "#{@keyword}"
      %div{:id => "search_fields"}
        - i = 0
        - @all_search_fields.each do |key, field|
          - if i%4 == 0
            %div{:class => "clear"}
          %div{:class => "left"}

            = check_box_tag "search_fields[#{key}]", 1, @selected_search_fields.include?(key), :id => "search_fields_#{key}"
            = field
          - i += 1
        %div{:class => "clear"}
      %hr
      %div{:id => "membergroup_fields"}
        - @membergroups.each do |group|
          %div{:class => "left"}
            = check_box_tag "membergroups[#{group.id}]", 1, @selected_membergroups.include?("#{group.id}"), :id => "membergroups_#{group.id}"
            = group.groupname
        %div{:class => "clear"}
      %hr
      %div{:id => "membership_fields", :class => "left"}
        %span{:class => "bold"}
          Poistettu
        %div{:class => "field"}
          = check_box_tag "membership[0]", 1, @membership.include?("0")
          %span
            Kyllä
        %div{:class => "field"}
          = check_box_tag "membership[1]", 1, @membership.include?("1")
          %span
            Ei
      %div{:id => "paymentstatus_fields", :class => "left"}
        %span{:class => "bold"}
          Maksanut:
        %div{:class => "field"}
          = check_box_tag "paymentstatus[1]", 1, @paymentstatus.include?("1")
          %span
            Kyllä
        %div{:class => "field"}
          = check_box_tag "paymentstatus[0]", 1, @paymentstatus.include?("0")
          %span
            Ei
      %div{:class => "clear"}
      %div{:id => "submit_button"}
        = submit_tag "Hae", :id => "search"
  = flash[:notice]
  %table{:class => "center", :id => "members"}
    %tr
      %th= check_box_tag "check_all", :id => "check_all"
      %th Jäsennumero
      %th Nimi
      -#%th Sukunimi
      %th Kunta
      %th Osoite
      %th Postinumero
      %th Postitoimipaikka
      %th Sähköposti
      %th Jäsenyyden status
      %th Jäsenryhmä
      %th
    - @members.each do | member|
      %tr
        %td= check_box_tag "member_checkbox", member.id
        %td= link_to member.membernumber, edit_member_path(member)
        %td
          = member.firstnames
          = member.surname
        -#%td= member.surname
        %td= member.municipality
        %td= member.address
        %td= member.zipcode
        %td= member.postoffice
        %td= member.email
        %td= member.membership
        %td= member.membergroup.groupname
        %td= button_to 'Poista', member_path(member), :method => :delete

  = form_tag invoice_confirm_path, :id => "invoice_form" do
    = hidden_field_tag "ids"
    = button_tag "Lähetä laskut", :id => "send_invoice"
