%div{:id => "index_member_page"}
  %p
    =link_to "Listaa jäsenet", members_path
    =link_to "Lisää jäsen", new_member_path
    =link_to "Kirjaudu ulos", logout_path
  %br
  = form_tag members_path, :method => :get, :id => 'filter_form' do
    = text_field_tag "keyword", "#{@keyword}"
    %br
    - @all_search_fields.each do |key, field|
      = field
      = check_box_tag "search_fields[#{key}]", 1, @selected_search_fields.include?(key), :id => "search_fields_#{key}"
    %br
    Poistettu:
    = radio_button_tag "membership", "1", (@membership == "1" ? true : false)
    Ei
    = radio_button_tag "membership", "0", (@membership == "0" ? true : false)
    Kyllä
    = radio_button_tag "membership", "2", (@membership == "2" ? true : false)
    Molemmat
    %br
    Maksanut:
    = radio_button_tag "paymentstatus", "0", (@paymentstatus == "0" ? true : false)
    Ei
    = radio_button_tag "paymentstatus", "1", (@paymentstatus == "1" ? true : false)
    Kyllä
    =radio_button_tag "paymentstatus", "2", (@paymentstatus == "2" ? true : false)
    Molemmat
    %br
    = select_tag "membergroups", options_for_select(@membergroups.collect{ |o| [o.groupname, o.id]}, @selected_membergroups), :multiple => true
    %br
    = submit_tag "Hae", :id => "search"
    %br
  = flash[:notice]
  %table{:class => "center", :id => "members"}
    %tr
      %th= check_box_tag "check_all", :id => "check_all"
      %th Jäsennumero
      %th Nimi
      -#%th Sukunimi
      %th Kunta
      %th Osoite
      %th Postinumero
      %th Postitoimipaikka
      %th Sähköposti
      %th Jäsenyyden status
      %th Jäsenryhmä
      %th
    - @members.each do | member|
      %tr
        %td= check_box_tag "member_checkbox", member.id
        %td= link_to member.membernumber, edit_member_path(member)
        %td
          = member.firstnames
          = member.surname
        -#%td= member.surname
        %td= member.municipality
        %td= member.address
        %td= member.zipcode
        %td= member.postoffice
        %td= member.email
        %td= member.membership
        %td= member.membergroup.groupname
        %td= button_to 'Poista', member_path(member), :method => :delete

  = form_tag invoice_confirm_path, :id => "invoice_form" do
    = hidden_field_tag "ids"
    = button_tag "Lähetä laskut", :id => "send_invoice"
