%div{:id => "invoice_member_page"}
  %h1 Laskunlähetys

  =link_to "Kirjaudu ulos", logout_path
  %br
  =link_to "Jäsenien listaukseen", members_path
  %table{:class => "center", :id => "members"}
    %tr
      %th Jäsennumero
      %th Nimi
      %th Sähköposti
      %th Jäsenryhmä
      %th Laskun summa
      %th Viitenumero
    - @members.each do |member|
      %tr
        %td= link_to member.membernumber, edit_member_path(member)
        %td
          = member.firstnames
          = member.surname
        %td= member.email
        %td= member.membergroup.groupname
        %td= member.membergroup.fee
        %td= Member.generate_refnumber(member.membernumber)
        %td= button_tag "Poista", :type => 'button', :class => "delete_button", 'data-id' => "#{member.id}"

  = form_tag invoice_path, :id => "invoice_form" do
    -@members.each do |member|
      = hidden_field_tag "member[]", member.id, :class => "member_#{member.id}"
    = button_tag "Lähetä laskut", :id => "send_invoice"

