%h1 Ylläpitäjän sivu
=link_to "Kirjaudu ulos", logout_path
=link_to "Listaa jäsenet", logout_path

%br
  %br
  = flash[:notice]
  %br
  %h3 Lisää jäsen


  = form_for @member do |f|
    = f.label :name, 'Etunimet'
    = f.text_field :name


    %br

    = f.label :surname, 'Sukunimi:'
    = f.text_field :surname

    %br

    = f.label :municipality, 'Kunta:'
    = f.text_field :municipality

    %br

    = f.label :address, 'Katuosoite:'
    = f.text_field :address

    %br

    = f.label :zipcode, 'Postinumero:'
    = f.text_field :zipcode

    = f.label :postoffice
    = f.text_field :postoffice

    %br

    = f.label :email, 'Sähköpostiosoite:'
    = f.text_field :email

    %br

    -#%select{:name => 'membergroup'}
    -#  %option{:value=> 'actualm§ember'} Varsinainen jäsen
    -#  %option{:value=>'familymember'} Perhejäsen
    -#  %option{:value=>'permanentmember'} Ainaisjäsen
    -#  %option{:value=>'supportmember'} Kannatusjäsen
    -#  %option{:value=>'communitymember'} Yhteisöjäsen

    = f.label :membergroup, 'Jäsenryhmä:'
    = f.select :membergroup, [['Varsinainen jäsen', 'actualmember'],['Perhejäsen', 'familymember']]

    -#<option value='actualmember'>Varsinainen jäsen</option>
    -#<option value='familymember'>Perhejäsen</option>
    -#<option value='permanentmember'>Ainaisjäsen</option>
    -#<option value='supportmember'>Kannatusjäsen</option>
    -#<option value='communitymember'>Yhteisöjäsen</option>".html_safe

    %br

    = f.label :membernumber, 'Jäsennumero:'
    = f.text_field :membernumber

    %br
    = f.label :payday, 'Viimeisin laskun maksupäivä:'
    = f.text_field  :payday

    %br
    %br

    = f.submit "Lisää"