%h1 Ylläpitäjän sivu
=link_to "Kirjaudu ulos", logout_path

%br
  %br
  = flash[:notice]
  %br
  %h3 Lisää jäsen


  = form_tag members_path do
    = label :member, :name, 'Etunimet:'
    = text_field :member, "name"
    = error_messages_for :name

    %br

    = label :member, :surname, 'Sukunimi:'
    = text_field :member, "surname"
    = error_messages_for :surname

    %br

    = label :member, :municipality, 'Kunta:'
    = text_field :member, "municipality"

    %br

    = label :member, :address, 'Katuosoite:'
    = text_field :member, "address"

    %br

    = label :member, :zipcode, 'Postinumero:'
    = text_field :member, "zipcode"

    = label :member, :postoffice
    = text_field :member, "postoffice"

    %br

    = label :member, :email, 'Sähköpostiosoite:'
    = text_field :member, "email"

    %br

    -#%select{:name => 'membergroup'}
    -#  %option{:value=> 'actualm§ember'} Varsinainen jäsen
    -#  %option{:value=>'familymember'} Perhejäsen
    -#  %option{:value=>'permanentmember'} Ainaisjäsen
    -#  %option{:value=>'supportmember'} Kannatusjäsen
    -#  %option{:value=>'communitymember'} Yhteisöjäsen

    = label :member, :membergroup, 'Jäsenryhmä:'
    = select :member, :membergroup, [['Varsinainen jäsen', 'actualmember'],['Perhejäsen', 'familymember']]

    -#<option value='actualmember'>Varsinainen jäsen</option>
    -#<option value='familymember'>Perhejäsen</option>
    -#<option value='permanentmember'>Ainaisjäsen</option>
    -#<option value='supportmember'>Kannatusjäsen</option>
    -#<option value='communitymember'>Yhteisöjäsen</option>".html_safe

    %br

    = label :member, :membernumber, 'Jäsennumero:'
    = text_field :member, "membernumber"

    %br
    = label :member, :payday, 'Viimeisin laskun maksupäivä:'
    = text_field :member, "payday"

    %br
    %br

    = submit_tag "Lisää"
