%div{:id => "new_member"}
  %div{:id => "header"}
    %h1 Ylläpitäjän sivu
    =link_to "Kirjaudu ulos", logout_path
    %br
    =link_to "Listaa jäsenet", members_path

    %br
    = flash[:notice]
    %h2 Jäsenen lisäys


  %div

  = simple_form_for @member do |f|

    = f.input_field :name, placeholder: 'Etunimet'
    %br
    = f.input_field :surname, placeholder: 'Sukunimi'
    %br
    = f.input_field :municipality, placeholder: 'Kunta'
    %br
    = f.input_field :address, placeholder: 'Katuosoite'
    %br
    = f.input_field :zipcode, placeholder: 'Postinumero'
    %br
    = f.input_field :postoffice, placeholder: 'Postitoimipaikka'
    %br
    = f.input_field :email, placeholder: 'Sähköposti'
    %br
    = f.label 'Jäsenryhmä:'
    = f.select :membergroup, [['Varsinainen jäsen', 'actualmember'],
    ['Perhejäsen', 'familymember'],
    ['Ainaisjäsen', 'permanentmember'],
    ['Kannatusjäsen', 'supportmember'],
    ['Yhteisöjäsen', 'communitymember']]
    %br
    = f.input_field :membernumber, placeholder: 'Jäsennumero'
    %br
    = f.input_field :payday, placeholder: 'Viimeisin laskun maksupäivä'
    %br
    %br
    = f.submit "Lisää", id:"submit"

