%div{:id => "new_member_page"}
  %div{:id => "header"}
    %h1 Ylläpitäjän sivu
    =link_to "Kirjaudu ulos", logout_path
    %br
    =link_to "Listaa jäsenet", members_path

    %br
    = flash[:notice]
    %h2 Jäsenen lisäys

  %div
  = simple_form_for @member, defaults:{label:false} do |f|
    = f.input :name, placeholder: 'Etunimet'
    = f.input :surname, placeholder: 'Sukunimi'
    = f.input :municipality, placeholder: 'Kunta'
    = f.input :address, placeholder: 'Katuosoite'
    = f.input :zipcode, placeholder: 'Postinumero'
    = f.input :postoffice, placeholder: 'Postitoimipaikka'
    = f.input :email, placeholder: 'Sähköposti'
    = f.input :membernumber, placeholder: 'Jäsennumero', as: :string
    = f.label 'Jäsenryhmä'
    = f.select :membergroup, [['Varsinainen jäsen', 'actualmember'],
    ['Perhejäsen', 'familymember'],
    ['Ainaisjäsen', 'permanentmember'],
    ['Kannatusjäsen', 'supportmember'],
    ['Yhteisöjäsen', 'communitymember']]
    %br
    %br
    = f.label 'Jäsenyyden päättymispäivä'
    %br
    = f.input :expirationdate
    %br
    %br
    = f.submit "Lisää", id:"submit"

