%h1 Ylläpitäjän sivu
=link_to "Kirjaudu ulos", logout_path
%br
=link_to "Listaa jäsenet", members_path

%br
  = flash[:notice]
  %h2 Lisää jäsen


  = simple_form_for @member do |f|
    -#= f.error_messages
    = f.input :name,  label: 'Etunimet'

    %br

    = f.input :surname, label: 'Sukunimi'

    %br

    = f.input :municipality, label: 'Kunta'

    %br

    = f.input :address, label: 'Katuosoite'

    %br

    = f.input :zipcode, label: 'Postinumero'

    = f.input :postoffice, label: 'Postitoimipaikka'
    %br

    = f.input :email, label: 'Sähköposti'

    %br

    = f.label :membergroup, 'Jäsenryhmä:'
    = f.select :membergroup, [['Varsinainen jäsen', 'actualmember'],
    ['Perhejäsen', 'familymember'],
    ['Ainaisjäsen', 'permanentmember'],
    ['Kannatusjäsen', 'supportmember'],
    ['Yhteisöjäsen', 'communitymember']]

    %br

    = f.input :membernumber, label: 'Jäsennumero'

    %br
    = f.input :payday, label: 'Viimeisin laskun maksupäivä:'

    %br
    %br

    = f.submit "Lisää"