%h1 Ylläpitäjän sivu
=link_to "Kirjaudu ulos", logout_path
=link_to "Listaa jäsenet", members_path

%br
  %br
  = flash[:notice]
  %br
  %h3 Lisää jäsen


  = simple_form_for @member do |f|
    -#= f.error_messages
    = f.input :name,  label: 'Etunimet'

    %br

    = f.input :surname, label: 'Sukunimi'

    %br

    = f.input :municipality, label: 'Kunta'

    %br

    = f.input :address, label: 'Katuosoite'

    %br

    = f.input :zipcode, label: 'Postinumero'

    = f.input :postoffice, label: 'Postitoimipaikka'

    %br

    = f.input :email, label: 'Sähköposti'

    %br

    -#%select{:name => 'membergroup'}
    -#  %option{:value=> 'actualm§ember'} Varsinainen jäsen
    -#  %option{:value=>'familymember'} Perhejäsen
    -#  %option{:value=>'permanentmember'} Ainaisjäsen
    -#  %option{:value=>'supportmember'} Kannatusjäsen
    -#  %option{:value=>'communitymember'} Yhteisöjäsen

    = f.label :membergroup, 'Jäsenryhmä'
    = f.select :membergroup, [['Varsinainen jäsen', 'actualmember'],['Perhejäsen', 'familymember']]

    -#<option value='actualmember'>Varsinainen jäsen</option>
    -#<option value='familymember'>Perhejäsen</option>
    -#<option value='permanentmember'>Ainaisjäsen</option>
    -#<option value='supportmember'>Kannatusjäsen</option>
    -#<option value='communitymember'>Yhteisöjäsen</option>".html_safe

    %br

    = f.input :membernumber, label: 'Jäsennumero'

    %br
    = f.input :payday, label: 'Viimeisin laskun maksupäivä'

    %br
    %br

    = f.submit "Lisää"